*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
nav
{
	background: #FFA500;
	height: 80px;
	width: 100%;
}	
label.logo
{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul
{
	float: right;
	margin-right: 20px;
}
nav ul li
{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a
{
	color: white;
	font-size: 17px;
	padding: 17px 13px;
	border-radius: 3px
	text-transform: uppercase;
}
body
{
	background:#ff8e3d;
}
.navc
{
	border: 1px solid black;
}
.blue
{
	background: orange;
	width: 600px;
	height: 350px;
	margin: 10px;
	padding: 10px;
}
.hm
{
	font-size: 25px;
}
.blue p
{
	font-size: 25px;
}
.phone

{
	background: orange;
	width: 200px;
	
}
.mj
{
	width: 600px;
	height: 370px;
	margin: 10px;
	padding: 10px;
}